#matriz {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.linha {
    display: flex;
    gap: 2px;
}

.inputCelula {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #000;
}

.certa {
    background-color: lightgreen;
}

.errada {
    background-color: lightcoral;
}